<h1>Notes</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

<hr>

<ul>
    {% for note in notes %}
    <li>
        {{ note.text }}
        <!-- <a href="/delete/{{ note.id }}/">Delete</a> -->
        <form method="POST" action="{% url 'notes:delete_note' note.id %}" style="display: inline">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </li>

    {% empty %}
    <li>No Notes Yet.</li>
    {% endfor %}
</ul>